<style>
  .subheading {
	background-color : grey;
	padding:10px;

  }

  .transparent-background {
    background-color: rgba(0,0, 0, 0.6);
	 /* Adjust the color and opacity as needed */
	 padding-top:20px;
	 border-radius: 5px;
}


  </style>

  <div class="overlay" id="overlay">
        <div class="spinner"></div>
    </div>
	  <div class="app-content" id="app-content">
<%=render 'shared/menu_bar'%>
	<section class="ftco-section testimony-section">
<div class="img img-bg border" style="background-image: url(<%= image_path('Orientation34.jpg') %>);"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate transparent-background">
          	<span class="subheading">Speak to someone today</span>
			  <h2 class="mb-4">We're here to help you</h2>
			  <p><a href="#" class="btn btn-primary py-3 px-4">Call us</a> <a href="#"  id="myBtn" class="btn btn-white py-3 px-4 ">Make an appointment</a></p>
          </div>
        </div>
        <div class="row ftco-animate move-left-to-right">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-checklist"></div>
                  <div class="text">
					<h2>100% Confidential</h2>
                    <p class="mb-4">Your concerns and feedback are kept confidential. We're here to listen and assist you regarding teaching, resources, and more.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-employee"></div>
                  <div class="text">
					<h2>Qualified Team</h2>
                    <p class="mb-4">Our dedicated team comprises qualified professionals ready to address your academic needs and provide guidance.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-umbrella"></div>
                  <div class="text">
					<h2>Individual Approach</h2>
                    <p class="mb-4">We understand your unique challenges. Our approach focuses on individual support tailored to your academic concerns.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section>
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Have an issue?</h2>
          </div>
        </div>
    		<div class="row">
    		<div class="col-md-4 d-flex align-items-stretch ftco-animate">
				<div class="services-2 text-center">
					<%= link_to new_appointment_path do %>
						<div class="icon-wrap">
							<div class="number d-flex align-items-center justify-content-center"><span>01</span></div>
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-calendar"></span>
							</div>
						</div>
						<h2>Make Schedule</h2>
						<p>Book counseling sessions to discuss academic or resource-related issues at your convenience.</p>
					<% end %>
				</div>
			</div>

    		<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    <div class="services-2 text-center">
        <%= link_to new_appointment_path do %>
            <div class="icon-wrap">
                <div class="number d-flex align-items-center justify-content-center"><span>02</span></div>
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-qa"></span>
                </div>
            </div>
            <h2>Start Discussion</h2>
            <p>Engage in live discussions and forums to share and address teaching or curriculum concerns with peers and experts.</p>
        <% end %>
    </div>
</div>

    		<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    <div class="services-2 text-center">
        <%= link_to new_appointment_path do %>
            <div class="icon-wrap">
                <div class="number d-flex align-items-center justify-content-center"><span>03</span></div>
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-checklist"></span>
                </div>
            </div>
            <h2>Get Sorted Out</h2>
            <p>Submit complaints or queries, and our team will assist in addressing and resolving your academic concerns.</p>
        <% end %>
    </div>
</div>

    		</div>
    	</div>
    </section>

   		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-3">How can we help you?</h2>
          </div>
        </div>
				<div class="row tabulation mt-4 ftco-animate">
  				<div class="col-md-4">
						<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
						  <li class="nav-item text-left">
						    <a class="nav-link active py-4" data-toggle="tab" href="#services-1">Academic Issues</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-2">Book Counseling Sessions</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-3">Live Updates</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-4">Support</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-6">Food Bank</a>
						  </li>
						</ul>
					</div>
					<div class="col-md-8">
						<div class="tab-content">
						  <div class="tab-pane container p-0 active" id="services-1">
						  	<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Academic Issues</a></h3>
						  	<p>Got issues with teaching methods or course materials? We're here to address and improve your learning experience.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-2">
						  	<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Book Counseling Sessions</a></h3>
						  	<p>Book counseling sessions to discuss academic resources or seek guidance in your academic journey.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-3">
						  	<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Live Updates</a></h3>
						  	<p>Stay informed with live updates on college announcements, events, and academic developments</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-4">
						  	<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Support</a></h3>
						  	<p>Submit complaints or seek support regarding any academic issues for quick resolution.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-5">
						  	<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Personalized Assistance</a></h3>
						  	<p>						  <div class="tab-pane container p-0 fade" id="services-6">
							</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-6">
							<div class="img" style="background-image: url(<%= image_path('orientation.jpg') %>);"></div>
						  	<h3><a href="#">Financial Issues</a></h3>
						  	<p>Struggling with financial matters? Explore our resources for financial aid, scholarships, or guidance on managing college expenses.</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<script>
    // JavaScript to handle click events on navigation links
    document.addEventListener('DOMContentLoaded', function() {
        var navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                var tabId = this.getAttribute('href'); // Get the href attribute value
                var tabContent = document.querySelector(tabId); // Find the corresponding tab content

                // Remove active class from all nav links
                document.querySelectorAll('.nav-link').forEach(function(navLink) {
                    navLink.classList.remove('active');
                });

                // Remove active class from all tab contents
                document.querySelectorAll('.tab-pane').forEach(function(tab) {
                    tab.classList.remove('active');
                    tab.classList.remove('show');
                });

                // Add active class to the clicked nav link
                this.classList.add('active');

                // Show the selected tab content
                tabContent.classList.add('active');
                tabContent.classList.add('show');
            });
        });
    });
</script>
		</section>
<!--
		<section class="ftco-appointment ftco-section img" style="background-image: url(images/Orientation\ FBS-102.jpg);">
			<div class="overlay"></div>

    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-6 half ftco-animate">
    				<h2 class="mb-4 text-center">Send us a message</h2>
    				<form action="#" class="appointment">
    					<div class="row">
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="Full Name">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="Email">
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
	                      <select name="" id="" class="form-control">
	                      	<option value="">Service</option>
	                        <option value="">Relation Problem</option>
	                        <option value="">Academic Counseling</option>
	                        <option value="">Depression Treatment</option>
	                        <option value="">Family Problem</option>
	                        <option value="">Personal Problem</option>
	                        <option value="">Financial Problem</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
			            </div>
								</div>
    					</div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>
	-->

    <footer class="ftco-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo"><a href="#">COS Help Desk</a></h2>
              <p><!-- --> </p>
			  <!--
              <ul class="ftco-footer-social list-unstyled mt-2">
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
			  -->
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Explore</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Question?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon fa fa-map marker"></span><span class="text">Provost Office, College of Science, KNUST-Kumasi</span></li>
	                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+233-3220-60313</span></a></li>
	                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">provost.sci@knust.edu.gh</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>
	  <div class="container-fluid px-0 py-1 bg-black">
		<div class="container">
			<div class="row justify-content-center align-items-center text-center">
			<div class="col-md-12">
			  <p class="mb-0" style="color: rgba(255,255,255,.5);">
				&copy;<script>document.write(new Date().getFullYear());</script> Kwame Nkrumah University of Science & Technology, Kumasi, Ghana
			  </p>
			</div>
		  </div>
		</div>
	</div>
    </footer>



  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
-->

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Make an Appointment With:</p>
    <ul>
	  <li><%= link_to 'College Counsellor', new_appointment_path %></li>
      <li><%= link_to 'Department/College Exam Office', new_appointment_path %></li>
    </ul>
  </div>

</div>
</div>

<style>
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.app-content {
    /* Add your styles for the main content area */
}

</style>
<!-- CSS for the modal -->
<style>
/* The Modal (background) */
.modal {


  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,10,3,0.4); /* Black w/ opacity */
}
.modal p{
		font-family: "Roboto", Arial, sans-serif;
    font-size: 16.5px;
    line-height: 1.8;
    font-weight: 400;
}
/* Modal Content/Box */
.modal-content {

  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Nice color background for items */
.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content ul li {

  background-color: #f0f0f0; /* Background color for items */
  margin-bottom: 5px;
  border-radius: 5px; /* Rounded corners */
}

.modal-content ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333; /* Text color */
  border-radius: 5px; /* Rounded corners */
  	font-family: "Roboto", Arial, sans-serif;
    font-size: 16.5px;
    line-height: 1.8;
    font-weight: 400;
}

.modal-content ul li a:hover {
  background-color: #ddd; /* Hover background color */
}
</style>
<%= render partial: "js" %>
