<style>
.mb-4, .navbar,.btn.btn-primary,.btn,.phone,.tab-pane  p,.nav-link,.text-left a{
	font-family: "Roboto", Arial, sans-serif;
    font-size: 16.5px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
.services-2 p{
	font-family: "Roboto", Arial, sans-serif;
    font-size: 15.5px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
.navbar-brand{
	font-family: "Roboto", Arial, sans-serif;
}

#ftco-navbar{
	background: white !important;
	color: black
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {
        color: black;
    }
}

</style>
<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex align-items-center">
						<p class="mb-0 phone pl-md-2">
							<a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +233-3220-60313</a>
							<a href="#"><span class="fa fa-paper-plane mr-1"></span> provost.sci@knust.edu.gh</a>
						</p>
					</div>
					<div class="col-md-6 d-flex justify-content-md-end">
						<div class="social-media">
			    		<p class="mb-0 d-flex">
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
			    		</p>
		        </div>
					</div>
				</div>
			</div>
		</div>

	  <nav class="navbar navbar-expand-lg navbar-white ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		<!-- <img class="logo" height="36" src="images/tech.png" /> -->
		<%= image_tag('ust.png', class: 'logo', height: 40, width: 45) %>
	<%= image_tag('logo.png', class: 'logo', height: 40, width: 45) %>

	      <a class="navbar-brand" href="index.html">COS STUDENT SUPPORT </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	         <li class="nav-item active">
  <%= link_to(root_path, class: "nav-link") do %>
    <i class='bx bx-home'></i> Home
  <% end %>
</li>

<li class="nav-item">
  <%= link_to("about_path", class: "nav-link") do %>
    <i class='bx bx-info-circle'></i> About
  <% end %>
</li>

<li class="nav-item">
  <%= link_to("#", class: "nav-link") do %>
    <i class='bx bxs-contact'></i> Contact
  <% end %>
</li>
<% if current_user %>
<li class="nav-item">
    <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
      <i class='bx bx-log-in-circle'></i> Logout
    <% end %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to(new_user_session_path, class: "nav-link") do %>
      <i class='bx bx-log-in-circle'></i> Sign in
    <% end %>
  </li>
<% end %>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
</div>
