
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login cos support</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<%=render 'shared/menu_bar'%>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login100-form validate-form" }) do |f| %>
        <span class="login100-form-title p-b-26">
          <%= image_tag 'logo.png', class: 'loginlogo' %>
        </span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
          <%= f.email_field :email, class: "input100", data: { placeholder: "Email" } %>
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <%= f.password_field :password, class: "input100", data: { placeholder: "Password" } %>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="wrap-input100">
            <%= f.check_box :remember_me, class: "input-checkbox100" %>
            <%= f.label :remember_me, class: "label-checkbox100" %>
          </div>
        <% end %>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <%= f.submit "Login", class: "login100-form-btn" %>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Don’t have an account?
          </span>
          <%= link_to "Sign Up", new_registration_path(resource_name), class: "txt2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%=render 'shared/footer'%>

	<div id="dropDownSelect1"></div>




<script>
(function ($) {
    "use strict";

    // Code wrapped in a self-executing anonymous function to avoid conflicts with other JavaScript libraries and ensure jQuery ($) is available.

    // Event listener to add a class when input fields are not empty
    $('.input100').each(function(){
        $(this).on('blur', function(){
            if($(this).val().trim() != "") {
                $(this).addClass('has-val');
            }
            else {
                $(this).removeClass('has-val');
            }
        })
    })

    /*==================================================================
    [ Validate ]*/
    // Validation function
    var input = $('.validate-input .input100');
    $('.validate-form').on('submit',function(){
        var check = true;

        for(var i=0; i<input.length; i++) {
            if(validate(input[i]) == false){
                showValidate(input[i]);
                check=false;
            }
        }

        return check;
    });

    // Function to hide validation messages on focus
    $('.validate-form .input100').each(function(){
        $(this).focus(function(){
           hideValidate(this);
        });
    });

    // Function to validate input fields
    function validate (input) {
        if($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
            if($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
                return false;
            }
        }
        else {
            if($(input).val().trim() == ''){
                return false;
            }
        }
    }

    // Function to show validation messages
    function showValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).addClass('alert-validate');
    }

    // Function to hide validation messages
    function hideValidate(input) {
        var thisAlert = $(input).parent();
        $(thisAlert).removeClass('alert-validate');
    }

    /*==================================================================
    [ Show pass ]*/
    // Functionality to toggle password visibility
    var showPass = 0;
    $('.btn-show-pass').on('click', function(){
        if(showPass == 0) {
            $(this).next('input').attr('type','text');
            $(this).find('i').removeClass('zmdi-eye');
            $(this).find('i').addClass('zmdi-eye-off');
            showPass = 1;
        }
        else {
            $(this).next('input').attr('type','password');
            $(this).find('i').addClass('zmdi-eye');
            $(this).find('i').removeClass('zmdi-eye-off');
            showPass = 0;
        }

    });

})(jQuery);
</script>


</body>
</html>
