<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Sheduled Appointment With:</strong>
    <%= appointment.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>
  <strong>Student name : </strong>
    <%= current_user.name %>
  </p>
</div>
