<style>
.btn{
  color: white;

}
body{
  	font-family: "Roboto", Arial, sans-serif;
    font-size: 16.5px;
    line-height: 1.8;
    font-weight: 400;
}
.card{
  width:60%;
  margin-left: 20%;
}

.render {

  margin: 4%;
  background: white;
  padding:2%;
  border-radius: 5px;
  border: 1px solid #666666;
}

.show-appointment-link a{

  color: white;
}
</style>
<%=render 'shared/menu_bar'%>
<div class="alert alert-info notice-message">
  <p><%= notice %></p>
</div>
<div class="container">
  <div class="notice-message">
    <p><%= notice %></p>
  </div>
   <h1 align="center">Appointments</h1>
  <% @appointments.each do |appointment| %>
  <div class="card mt-4">
   <div class="render">

          <%= render appointment %>
          <p class="show-appointment-link">
            <%= link_to "Show this appointment", appointment, class: "btn btn-primary" %>
           <%= link_to "New Appointment", new_appointment_path, class: "btn btn-secondary" %>
          </p>
        </div>
      </div>

    <% end %>


  </div>
</div>
